.search-container {
  width: 30rem;
  padding: 2rem;
}

.search-input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  opacity: 0;
  transition: all 1s;
  margin-right: 4rem;
  color: white;

  &:hover,
  &:focus {
    opacity: 1;
  }
}


.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-bottom: 15rem;
}

.fade-container {
  height: 20rem
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name-container {
  height: 10rem;
}

.hide {
  display: none;
  border: none;
}

#quote {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.add-quote {
  position: fixed;
  bottom: 2rem;
  left: 2rem;

  :hover {
    cursor: pointer;
  }
}

.add-quote button {
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

.add-quote input {
  font-size: 2rem;
  margin-top: 1rem;
}

.select-quotes {
  font-size: 3rem;
  font-family: 'Arimo', sans-serif;
}


#todo {
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  margin-right: 2rem;
}

#todo button {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

#todo .tool {
  min-width: 250px;
  background-color: #000;
  color: white;
  position: absolute;
  bottom: 4rem;
  right: 2rem;
  visibility: hidden;
}


#todo .tool.show {
  visibility: visible;
}

#todo .tool ul {
  list-style-type: none;
}

#todo .tool ul li {
  padding: 10px;
  border-bottom: 1px solid #2c2c2c;
  display: flex;
  align-items: center;
}

#todo .tool ul li span {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

#todo input {
  background: #2c2c2c;
  font-size: 2rem;
  padding: 0.5rem;
  border: none;
  color: white;
}

#todo input[type='checkbox'] {
  margin-right: 10px;
}

#file {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

#file button {
  border: none;
  background: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.input-todo {
  font-size: 1.6rem;
}